*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333333;
}
ol, ul, li{
    list-style-type: none;
}
i{
    font-style: normal;
}

.header-index{
    width: 100%;
    min-width: 1240px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #ddd;
    position: relative;
}
.header-index-inner{
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.header-index-logo{
    width: 180px;
    height: 50px;
    display: inline-block;
    background-image: url("../img/ke_qq/logo-3x.ebaa1c7e.png");
    background-repeat: no-repeat;
    background-size: 180px 50px;
    vertical-align: middle;
}
.header-index-category-text{
    height: 80px;
    width: 146px;
    line-height: 80px;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 16px;
}
.header-index-text{
    display: inline-block;
    right: 0;
    top: 0;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    position: absolute;
}
.header-index-download{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    position: relative;
    height: 80px;
    line-height: 80px;
    cursor: pointer;
}
.header-index-download p{
    text-align: center;
}
.header-index-download:hover ul{
    display: block;
}
.header-index .dropdown-list::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    left: 47px;
    top: -8px;
}
.header-index .dropdown-list::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent #e5e5e5;
    position: absolute;
    left: 47px;
    top: -9px;
}
.header-index .dropdown-list {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 112px;
    left: 50%;
    margin-left: -56px;
    border: 1px solid #e5e5e5;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
}
.header-index .dropdown-list a {
    display: block;
    text-align: center;
    margin: 20px 0;
    line-height: 20px;
    height: 20px;
    background: #fff;
    color: #333;
    font-size: 14px;
}
.header-index .header-index-download p:hover.header-index-download{
    display: inline-block;
}
.header-index-private-msgs{
    color: #333;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin-left: 40px;
    text-align: center;
    position: relative;
    vertical-align: top;
}
.login{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 40px;
}

.section--course-banner{
    padding: 20px 0 30px;
    margin-bottom: 20px;
    background: #fff;
    min-height: 400px;
}
.clearfix{
    width: 80%;
    margin: 0 auto;
}
.clearfix nav i {
    margin: 8px 10px 0;
    font-size: 14px;
    font-family: webfont;

}
.clearfix nav i:before{
    content: "\f11f";
}
.inner-center{
    margin-bottom: 20px;
}

.imgtext-course{
    padding-left: 630px;
    min-height: 360px;
    position: relative;
}
.img-left--wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 338px;
}
.img-left--wrap .img-left{
    position: absolute;
    border: 0;
    vertical-align: middle;
    width: 600px;
    height: 338px;
}
.banner-cover:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.banner-cover{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 1;
    left: 0;
    top: 0;
    color: white;
    background-color: rgba(21,21,27,.7);
}
.banner-cover > div{
    vertical-align: middle;
    display: inline-block;
}
.banner-cover-play{
    display: inline-block;
    color: #fff;
    width: 70px;
    height: 70px;
    border: 6px solid #fff;
    border-radius: 70px;
    text-align: center;
    margin-bottom: 15px;
}
.banner-cover-play .icon-play{
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-top: 17.5px;
    margin-left: 8px;
    background: url("../img/ke_qq/icon-detail.10e2f647.png") no-repeat -30px 0;
}
.banner-cover-live-tips{
    font-size: 20px;
    vertical-align: middle;
}
.pay-policy{
    overflow: hidden;
    margin-top: 348px;
    bottom: 0;
    color: #999;
}
.pay-policy li {
    float: left;
    margin-right: 20px;
}
.pay-policy li a {
    color: #999;
}
.imgtext-course .page-tt {
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.imgtext-course .title-main {
    vertical-align: middle;
}
.course-class .class-content.active {
    display: block;
}
.course-class .class-content.active {
    display: block;
}
.course-class .class-content {
    border: 1px solid #e5e5e5;
    border-top: 0;
    padding: 15px 15px 10px;
    position: relative;
    margin-top: 30px;
}
.course-class.course-class--one .class-content .hidden-clip {
    clip: inherit;
    top: -20px;
    font-size: 16px;
    background: #fff;
    line-height: 35px;
    padding: 0 5px;
}
.hidden-clip {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
}
.course-price {
    background-color: #f4f4f4;
    margin-top: 15px;
    display: block;
    color: #666;
}
.course-price-info {
    height: 40px;
    font-size: 22px;
    margin-left: 15px;
}
.course-price-info .price {
    vertical-align: middle;
    color: #e85308;
}
.course-price-info .oprice {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    display: inline-block;
}
.oper-bar{
    margin-top: 25px;
}
.oper-bar .buy-btn{
    width: 150px;
    line-height: 50px;
    font-size: 18px;
    background-color: #23b8ff;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}





.ptlogin-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: none;
}
.login-tab{
    background-color: white;
    position: fixed;
    width: 622px;
    height: 460px;
    left: 50%;
    top: 50%;
    margin-left: -311px;
    margin-top: -230px;
    box-shadow: 0 0 5px #CCC;
}
.login-tab .enter-title{
    position: relative;
    height: 50px;
    background: #f1f1f1;
    line-height: 50px;
    font-size: 16px;
    color: #2a2a2a;
    text-align: center;
}
.login-tab .enter-content {
    padding-top: 30px;
}
.login-tab .content-avatar {
    width: 100%;
    height: 100%;
    text-align: center;
}
.login-tab .content-avatar .avatar-img{
    display: inline-block;
    width: 84px;
    height: 86px;
    margin-bottom: 30px;
    background-image: url("../img/ke_qq/empty-avator.png");
    background-repeat: no-repeat;
}
.content-inputs div{
    width: 294px;
    margin: 0 auto;
}
.login-btn-wrap{
    margin-top: 30px;
}
.login-btn {
    display: block;
    width: 300px;
    height: 32px;
    line-height: 32px;
    background: #09f;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    letter-spacing: 2px;
}
.links-wrap{
    width: 300px;
    margin: 15px auto;
}
.links-wrap a{
    color: #0099ff;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.sign-up{
    width: 322px;
    height: 372px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -224px;
    margin-top: -240px;
    background-color: #fff;
    box-shadow: 0px 0px 46px rgba(80,131,207,0.13);
    border: 1px solid #f4f7fc;
    border-radius: 5px;
    padding: 63px 63px 45px;
    font-family: 'Microsoft YaHei';
    display: none;
}
.sign-up h2{
    line-height: 36px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}
.form-group{
    padding: 15px;
    position: relative;
}
.input-css {
    width: 294px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background-color: #f2f2f5;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
}
.view_icon {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    height: 40px;
    background: url(../img/ke_qq/view_icon.png) center center no-repeat;
    background-size: contain;
    display: block;
    cursor: pointer;
}
.btn-group {
    padding: 15px;
}
.btn-group .sign-up-btn {
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 294px;
    height: 40px;
    line-height: 38px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("../img/ke_qq/login_bg.png");
    background-size: cover;
    opacity: 1;
    transition: opacity ease-in-out .5s;
}
.btn-group .sign-up-btn span{
    letter-spacing: 40px;
    margin-left: 40px;
}
.btn-group p{
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
.clan{
    color: #00a2ff !important;
}